<%- include("partials/header") -%>

<form action="/countries" method="POST">
    <label>Country</label>
    <input type="text" name="countryName"><br>
    <button type="submit">Search</button>
</form>

<%- include("partials/footer") -%>